
<br>
<h1>Hi there!</h1>
<p>If you're looking for a native speaker, you've just hit the bull's eye.</p>
<%= image_tag('about.jpg', class: 'img-responsive')%>
<p>Let's see if the following cities are of any interest to you:</p>
<% %w[warszawa wroclaw katowice poznan trojmiasto krakow szczecin lodz lublin bydgoszcz torun czestochowa].each do |city| %>
	<a href="/native-speaker-<%= city %>">Native speakers in <%= city.capitalize %></a><br>
<% end %>
