<p><a id="Cookies"></a><strong>Cookies</strong></p>
<p><strong>Cookie Policy</strong></p>
<p><strong>What are cookies?<br></strong>This website uses cookies to collect information.&nbsp; Cookies are small data files which are placed on your computer or other mobile or handheld device (such as smart ‘phones or ‘tablets’) as you browse this website.&nbsp; They are used to ‘remember’ when your computer or device accesses this website.&nbsp; The cookies are essential to the effective operation of our website and to enable to you shop with us online.&nbsp; Cookies are also used to tailor the products and services offered and advertised to our customers, both on this website and elsewhere.&nbsp;</p>
<p><strong>Information collected<br></strong>Some cookies collect information about browsing and purchasing behaviour by people who access this website via the same computer or device.&nbsp; This includes information about pages viewed, products purchased and the customer journey around a website.&nbsp; We do not, however, use cookies to collect or record information on users’ name, address or other contact details.&nbsp; NativeSpeaker.com.pl is able to use cookies to monitor individual customer browsing and purchasing behaviour but third parties are not able to identify customers using cookies.<br><br><strong>Who sets the cookies?<br></strong>The cookies stored on your computer or other device when you access this website are set by NativeSpeaker.com.pl, our suppliers who partner with us to help deliver a high quality website and on-line shopping experience, and other third parties. <br>Some cookies are set by or on behalf of NativeSpeaker.com.pl and are necessary to enable customers to a make purchases on our website.&nbsp; <br>Cookies may also be set by third parties who participate with us in affiliate marketing programmes.&nbsp;&nbsp; The most important such third parties are Criteo and Rich Relevance who broadcast banner advertisements on behalf of NativeSpeaker.com.pl and a number of other reputable companies.&nbsp; None of these third parties collect any personal data from which they would be able to identify individual customers.</p>
<p><br><strong>What are cookies used for?</strong></p>
<p>The main purposes for which cookies are used are:-</p>
<p>1.&nbsp;For technical purposes essential to effective operation of website, particularly in relation to on-line transactions.</p>
<p>2.&nbsp;To drive NativeSpeaker.com.pl marketing, particularly banner advertisements and targeted updates which are explained in more detail elsewhere in the Privacy Policy.</p>
<p>3.&nbsp;To enable NativeSpeaker.com.pl to collect information about the browsing and shopping habits and activities of customers, including to monitor the success of campaigns, competitions etc.&nbsp;</p>
<p>4.&nbsp;To enable NativeSpeaker.com.pl meet its contractual obligations to make payments to third parties when a product is purchased by someone who has visited our website from a site operated by those parties.</p>
<p><strong>How do I disable cookies?<br></strong>If you want to disable cookies you need to change your website browser settings to reject cookies.&nbsp; How to do this will depend on the browser you use and we provide further detail below on how to disable cookies for the most popular browsers:-</p>
<p><strong>For Microsoft Internet Explorer:<br></strong>1.&nbsp;Choose the menu “tools” then “Internet Options”<br>2&nbsp;Click on the “privacy” tab<br>3&nbsp;Select the setting the appropriate setting</p>
<p><strong>For Mozilla firefox:<br></strong>1.&nbsp;Choose the menu “tools” then “Options”<br>2&nbsp;Click on the icon “privacy”<br>3&nbsp;Find the menu “cookie” and select the relevant options</p>
<p><strong>For Opera 6.0 and further:<br></strong>1.&nbsp;Choose the menu Files”&gt; “Preferences”<br>2&nbsp;Privacy</p>
<p><strong>What happens if I disable cookies?<br></strong>This depends on which cookies you disable, but in general the site may not operate properly if cookies are switched off.&nbsp; If you only disable 3rd party cookies you will not be prevented from making purchases on this site.&nbsp; If you disable all cookies you will be unable to complete a purchase on this site.</p>
