%h1 Help
%p (NAME OF THE WEBSITE) is a place where you can put your advertisement of lessons with a native speaker.</p>
%p 
  You can do the following:
  %ul
    %li post an advert
    %li find a native speaker
