<% title project_name, full_title: true %>
<% description 'Aktualna lista native speakerów. Masz w kim wybierać!' %>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron yellow-jumbotron city<%= rand(1..5) %>">
      <div class="container">
        <h1>
          <span>
            <strong>find a native speaker</strong>
          </span>
        </h1>
        <form class="form-inline" role="form" action="/profiles/search">
          <div class="form-group">
            <input type="text_field" class="form-control" id="location" placeholder="City" name="location">
          </div>
          <div class="form-group">
            <%= select_tag "language", options_from_collection_for_select(@languages, :name, :name), class: "form-control" %>
          </div> <span id="toggle_search_options" class="btn btn-default" onclick="toggle_search()"> options </span>
          <div id="search_options"><br />
            <div class="form-group">
              <%= select_tag "age_group_id", options_from_collection_for_select(@age_groups, :id, :name), class: "form-control" %>
            </div>
            <div class="form-group">
              <%= select_tag "distance", options_for_select([2,5,10,25,50].map{|x| [x.to_s+' km', x]}, 25), class: "form-control" %>
            </div>
            <div class="form-group">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                  <%= check_box_tag 'does_online_lessons', 'yes', false, autocomplete: "off", class: 'form-control' %> video lessons
                </label>
                <label class="btn btn-default">    
                   <%= check_box_tag 'works_during_weekend', 'yes', false, autocomplete: "off", class: 'form-control' %> works during weekend
                </label>
                <label class="btn btn-default">
                   <%= check_box_tag 'issues_an_invoice', 'yes', false, autocomplete: "off", class: 'form-control' %> VAT invoice
                </label>
              </div>
            </div>
            <br />
            <br />
          </div>
          <button type="submit" class="btn btn-success">Search</button>
                    <div class="location_details" style="visibility: hidden">
        <%= hidden_field_tag :lat, "", "data-geo"=>"lat" %>
        <%= hidden_field_tag :lng, "", "data-geo"=>"lng" %>
        <%= hidden_field_tag :formatted_address, "", "data-geo"=>"formatted_address" %>
        </div>
        </form>
        <input type="hidden" data-geo="country_code" value="<%= @current_domain.code %>" />
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="jumbotron yellow-jumbotron join-us-background">
      <div class="container">
        <h1>
          <span>
            <strong><%= link_to 'jobs', advertisements_path, class: 'no-decoration' %></strong>
          </span>
        </h1>
        <span class="yellow"><%= link_to 'sign up as a native speaker', user_registration_path, class: 'no-decoration' %></span>
      </div>
    </div>
  </div>
</div>
<div class="container center">
  <div class="row">
   <% @featured_profiles.each do |profile| %>
    <div class="col-md-4 center">
      <%= link_to(image_tag(profile.avatar.url(:medium), class: "bigger-thumb rounded-and-cropped"), profile) %>
      <h2><%= flag_tag profile %> <%= profile.name %></h2>
      <p> <%= profile.languages.collect{|language| "#{language.name}" }.join(", ") %> <br/>
      <% if profile.does_online_lessons %><strong><span class="glyphicon glyphicon-facetime-video online-lessons-icon" aria-hidden="true"></span> Does online lessons!</strong><br/><% end %>
      <%= profile.short_description %></p>
      <p>
        <%= link_to "Show", profile, class: "btn btn-info" %>
                  <span class="btn btn-success"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> <%=   profile.price %> <%= @current_domain.currency %></span>

      </p><br/>
    </div>
   <% end %>


<% if @featured_profiles.count < 3 && @current_profile %>
<div class="col-md-4 center">
      <%= image_tag("questionmark.png", class: "bigger-thumb rounded-and-cropped", alt: "Questionmark") %>
      <h2>You 😱</h2>
      <p> Why not to have your profile featured here? <br>
      <strong> Homepage makes 42 times more views than an average profile</strong><br>
      Offer limited - there are only 3 places here and there won't be any more.</p>
      <p>
        <a class="btn btn-danger" href="<%= upgrade_path %>">Sounds great</a>

      </p><br>
 </div>
 <% end %>



    <span class='clearfix'></span>
  </div>
</div>


<%= render partial: "profiles/profiles_table", locals: {profiles: @profiles} %>
<%= link_to 'show me all native speakers', show_all_profiles_path %> 

