%h1 Why bother sending so many messages?
%p We've notied that you send quite a lot messages. You're searching for a native speaker to help you in your company. We get it.
%h2
  But isn't it better to put an advertisement on
  = @current_domain.name
  ?
%p
  We'll help you with that. Just drop me an e-mail.
  = mail_to('adam@nativespeaker.com.pl')
%p Truly yours :) Adam
