<h1>Regulamin (English version beneath)</h2>


<h2>I. Sformułowania wstępne</h2>
<ol>
<li>Dokument ten zawiera wszystkie informacje dotyczące zasad korzystania ze strony NativeSpeaker.com.pl. Regulamin strony NativeSpeaker.com.pl precyzuje uprawnienia i zobowiązania zarejestrowanych użytkowników wraz z przysługującym im prawem do ochrony danych osobowych, a także definiuje zasady świadczenia usług drogą elektroniczną.</li>
<li>Definicje:</li>
<ol type="a">
<li>Użytkownik – to osoba fizyczna, która umieszcza swój profil na stronie NativeSpeaker.com.pl poprzez rejestrację i zaakceptowanie niniejszego Regulaminu.</li>
<li>Odwiedzający– to osoba, która przegląda stronę NativeSpeaker.com.pl bez dokonywania rejestracji i tworzenia profilu.</li>
<li>Profil użytkownika – to informacje, które są zamieszczone przez zarejestrowanego użytkownika na stronie NativeSpeaker.com.pl i są do wglądu dla wszystkich odwiedzających i użytkowników stronę. Z tego względu użytkownik powinnien dokonąć dokładnej selekcji informacji, które pragnie umieścić w swoim profilu. Informacje wprowadzone do profilu, muszą spełniać wytyczne przyjęte przy wprowadzaniu danych. Użytkownik ma także prawo do dokonywania wszelkich zmian w swoim profilu.</li>
<li>Konto użytkownika – to zapis uwierzytelniający tożsamość logującego się użytkownika. Zawiera on login, hasło oraz adres email.</li>
<li>NativeSpeaker.com.pl – to serwis internetowy dostępny pod adresami www.nativespeaker.com.pl ułatwiający kontakt pomiędzy osobami fizycznymi i instytucjami dostarczającymi usługi edukacyjne, a ich potencjalnymi klientami. Właścicielem strony jest ‘MODELIT ANDRZEJ SIBIK’ Bolesława Piaseckiego 9, 44-105 Gliwice, REGON 272762704, NIP 9690000731.</li>
</ol>
</ol>

<h2>II. Świadczenie usług drogą elektroniczną</h2>
<ol>
<li>Rejestracja konta przez użytkownika na stronie NativeSpeaker.com.pl oznacza jego jednoznaczną zgodę na przestrzeganie niniejszego Regulaminu.</li>
<li>Wypełnienie formularza rejestracyjnego jest jednoczesnym zawarciem umowy na czas nieokreślony o świadczenie usług drogą elektroniczną.</li>
<li>Użytkownik może w dowolnym momencie dokonać zmian w swoim profilu lub usunąć konto całkowicie.</li>
<li>Strona NativeSpeaker.com.pl oferuje zarówno usługi darmowe jak i płatne. Jednakże rejestracja oraz tworzenie podstawowego profilu użytkownika to usługi bezpłatne. Serwis NativeSpeaker.com.pl zastrzega sobie prawo do wprowadzenia opłat za wybrane usługi po uprzednim poinformowaniu o tym zarejestrowanych użytkowników. Aby dana usługa mogła być nadal świadczona, użytkownik musi wyrazić zgodę na jej odpłatne dostarczanie.</li>
<li>Strona NativeSpeaker.com.pl może zmieniać i modyfikować swoje usługi, w tym także zawiesić swoją działalność, a użytkownik nie ma prawa wnosić żadnych roszczeń w tym wzgledzie wobec NativeSpeaker.com.pl.</li>
<li>Zawarcie umowy oznacza, że użytkownik wyraża zgodę na publikację przez NativeSpeaker.com.pl informacji zawartych w profilu oraz dostarczanie mu ofert zainteresowanych osób na podany adres email.</li>
<li>Informacje zawarte w profilu użytkownika mają charakter otwarty i mogą być dostępne dla popularnych wyszukiwarek internetowych.</li>
</ol>

<h2>III. Założenie konta</h2>
<ol>
<li>Użytkownik dokonuje założenia konta poprzez wypełnienie formularza rejestracyjnego.</li>
<li>Podczas rejestracji wymagane jest stworzenie loginu i hasła oraz podanie adresu email.</li>
<li>NativeSpeaker.com.pl zapewnia swoim użytkownikom ochronę danych osobowych zgodnie z ustawą o ochronie danych osobowaych (Dz.U. 2002 Nr 101, poz. 926) oraz ustawą o świadczeniu usług drogą elektroniczną (Dz.U. 2002 Nr.144, poz. 1204).</li>
<li>Założenie konta na stronie NativeSpeaker.com.pl możliwe jest tylko po zaakceptowaniu niniejszego Regulaminu.</li>
</ol>

<h2>IV. Ochrona danych osobowych i polityka prywatności</h2>
<ol>
<li>Dane osobowe użytkownika są zbierane:</li>
<li>podczas rejestracji (login, hasło, adres email),</li>
<li>podczas transakcji płatniczej (imię, nazwisko, adres, typ i numer karty kredytowej, kod CVV),</li>
<li>automatycznie podczas wizyty na stronie (adres IP, nazwa domeny, typ przeglądarki, typ systemu operacyjnego itp.),</li>
<li>podczas kontaktu ze stroną NativeSpeaker.com.pl za pomocą formularza kontaktowego (imię, nazwisko, adres email itp.).</li>
<li>NativeSpeaker.com.pl przykłada olbrzymią wagę do ochrony danych osobowych swoich użytkowników. Dane rejestracyjne są wykorzystywane tylko w celu realizacji świadczenia usług oraz logowania do systemu i nigdy nie są udostępniane osobom trzecim. Tylko login użytkownika jest widoczny dla innych użytkowników oraz osób przeglądających stronę NativeSpeaker.com.pl. Natomiast hasło oraz adres email to informacje poufne. Aby skontaktować się z zarejestrowanym użytkownikiem strony w celu skorzystania z jego oferty należy wypełnić formularz kontaktowy.</li>
<li>W przypadku dokonywania płatności na rzecz NativeSpeaker.com.pl, użytkownik zostanie poproszony o podanie informacji płatniczych (Rozdz. IV, punkt 1b). Informacje te zostaną przekazane firmie obsługującej transakcje płatnicze. Informacje te zostaną wykorzystane tylko i wyłącznie do przeprowadzenia transakcji i nie będą używane w żadnym innym celu. Podanie tych danych jest obowiązkowe, by dokonać transakcji płatniczej.</li>
<li>Dane zbierane automatycznie służą tylko i wyłącznie personalizacji zawartości strony NativeSpeaker.com.pl.</li>
<li>Dane korespondencyje wykorzystywane są tylko i wyłącznie do udzielenia odpowiedzi na zapytanie użytkownika.</li>
<li>Wszelkie dane użytkownika mogą zostać udostępnione tylko i wyłącznie odpowiednim organom wymiaru sprawiedliwości na podstawie odpowiednich przepisów prawnych.</li>
<li>Strona NativeSpeaker.com.pl będzie kontaktować się z użytkownikiem, wysyłając informacje na podany adres email. Pod wskazany adres zostaną także wysłane wszelkie zapytania i oferty innych użytkowników strony dokonane za pomocą formularza kontaktowego. Adres email użytkownika jest poufny i nie jest wyświetlany w jego profilu.</li>
<li>Użytkownik ma prawo do dokonywania zmian w swoich danych osobowych, a także do ich usunięcia.</li>
<li>Strona NativeSpeaker.com.pl zastrzega sobie prawo do zmiany polityki prywatności poprzez publikację nowych zasad.</li>
<li>W przypadku dodatkowych pytań dotyczących polityki prywatności należy wypełnić formularz kontaktowy.</li>
<li>NativeSpeaker.com.pl zastrzega sobie prawo do wysyłania wszystkim użytkownikom drogą elektroniczną informacji na temat wszelkich zmian dokonywanych w serwisie.</li>
</ol>


<h2>V. Korzystanie z serwisu NativeSpeaker.com.pl</h2>
<ol>

<li>Użytkownik strony powinien korzystać z serwisu zgodnie z przepisami niniejszego Regulaminu.</li>
<li>Niedopuszczalne jest naruszanie prywatności innych użytkowników i przetwarzanie ich danych w innych celach niż odpowiedź na przedstawioną przez nich ofertę.</li>
<li>Zabronione jest umieszczanie treści obraźliwych, niezgodnych z przepisami prawa i kanonem moralnym obowiązującym w Polsce.</li>
<li>Dozwolone jest umieszczanie tylko zdjęć przedstawiających osobę. Niedopuszczalne są wszelkiego rodzaju zdjęcia niemoralne, nie odpowiadające profesjonalnemu charakterowi strony.</li>
<li>Zabrania się wykorzystywania strony do rozsyłania reklam i innych ofert uznawanych za spam.</li>
</ol>


<h2>VI. Prawa autorskie</h2>
<ol>

<li>Stworzenie profilu na stronie NativeSpeaker.com.pl oznacza, że użytkownik wyraża zgodę na wykorzystywanie zawartych tam informacji przez innych użytkowników w celu złożenia oferty bądź też odpowiedzi na nią.</li>
<li>Użytkownik ma prawo zapisywać w swym profilu informacje stanowiące utwór w świetle prawa i jest chroniony ustawą o prawie autorskim (Dz.U. 1994, Nr 24, poz. 83). Informacje te mogą być wykorzystywane tylko do użytku osobistego. Każdy inny rodzaj użycia tych danych wymaga zgody ich autora.</li>
</ol>

<h2>VII. Odpowiedzialność</h2>
<ol>
<li>Strona NativeSpeaker.com.pl nie ponosi odpowiedzialności za treści umieszczane przez użytkowników w ich profilach oraz za teksty wiadomości prywatnych wysyłanych do użytkowników serwisu.</li>
<li>Osoby wysyłające teksty naruszające prawo mogą zostać pociągnięte do odpowiedzialności prawnej i cywilnej.</li>
<li>Użytkownik jest odpowiedzialny za wszystkie treści umieszczone przez siebie na stronie NativeSpeaker.com.pl.</li>
<li>Strona NativeSpeaker.com.pl nie udziela żadnych gwarancji dotyczących jakości umieszczonych na stronie ofert. Korzystanie z serwisu oraz umieszczanie ofert odbywa się na ryzyko własne użytkownika.</li>
<li>Serwis nie odpowiada za niewłaściwe wykonanie usługi przez ogłoszeniodawcę lub niewywiązanie się z umowy zapłaty przez ogłoszeniobiorcę.</li>
<li>Serwis NativeSpeaker.com.pl nie ponosi odpowiedzialności za jakiekolwiek szkody powstałe w wyniku awarii lub przerwy w dostępie do strony.</li>
</ol>


<h2>VIII. Uwagi i wnioski</h2>
<ol>
<li>Wszelkiego rodzaju problemy, uwagi i wnioski związane z usługami świadczonymi przez NativeSpeaker.com.pl mogą być wysyłane za pomocą formularza kontaktowego.</li>
<li>Strona NativeSpeaker.com.pl zobowiązuje się odpowiedzieć na każdy taki wniosek w ciągu 14 dni.</li>
<li>Serwis nie odpowiada na reklamacje dotyczące usług świadczonych przez innych użytkowników ogłaszających się na stronie NativeSpeaker.com.pl (Rozdz.VII, punkt 4 i 5).</li>
</ol>


<h2>IX. Postanowienia końcowe</h2>
<ol>
<li>Strona NativeSpeaker.com.pl zastrzega sobie prawo do zmiany niniejszego Regulaminu i zobowiązuje się do poinformowania użytkowników o tych zmianach.</li>
<li>Użytkownicy, którzy bezpośrednio zostaną dotknięci daną zmianą, zostaną o niej powiadomieni drogą elektroniczną.</li>
<li>Użytkownik jest odpowiedzialny za podanie prawidłowego adresu email. Serwis NativeSpeaker.com.pl nie ponosi odpowiedzialności za niedostarczenie informacji wynikające z błędnego lub nieaktywnego adresu email.</li>
</ol>



<h1>Terms of Service</h1>

<h2>I. Preface</h2>
<ol>
<li>This document contains all the information about the terms of use for NativeSpeaker.com.pl. The Terms of Use for NativeSpeaker.com.pl specifies the powers and obligations of registered and un-registered users, including their right to protection of personal data, and defines the rules and provisions of electronic services.</li>
<li>Definitions:</li>
<ol type="a">
<li>User - a person who puts his or her profile on the NativeSpeaker.com.pl by registering and accepting these Terms of Use.</li>
<li>Visitor - a person who browses the NativeSpeaker.com.pl website with or without registering and creating a profile.</li>
<li>User Profile - Information that is given by a registered user of NativeSpeaker.com.pl and is available to all users and visitors to view. For this reason, users should carry out a thorough selection of information, which they want to put in their profile. Information entered into a profile must meet the guidelines given when entering the data. A user may make changes to their profile at any time.</li>
<li>User account - a record of authenticating the identity of the user logging on. It contains a username, password and email address.</li>
<li>NativeSpeaker.com.pl - is a web service available at www.nativespeaker.com.pl to facilitate contact between individuals and institutions that provide educational services and their potential customers. The website is maintained by ‘MODELIT ANDRZEJ SIBIK’ based in Gliwice at ul. 	Bolesława Piaseckiego 9, REGON 272762704, NIP 9690000731.</li>
</ol>
</ol>

<h2>II. Electronic delivery of services</h2>
<ol>
<li>Registering a user account on NativeSpeaker.com.pl signifies an explicit consent to be bound by these Terms of Use.</li>
<li>Filling out the registration form is at the same time a contract for electronic services for an indefinite period of time.</li>
<li>A user may at any time make changes to their profile or delete their account entirely.</li>
<li>The NativeSpeaker.com.pl website offers both free and paid service. However, registration and the creation of a basic user profile is a free service. The NativeSpeaker.com.pl service reserves the right to introduce fees for selected services after notifying registered users. In order for such a service to continue to be provided, the user must agree to its paid provision.</li>
<li>The NativeSpeaker.com.pl website can change and modify its services, including suspend its activities, and the user cannot make any claim against NativeSpeaker.com.pl.</li>
<li>By agreeing to these Terms of Use, the user gives consent to the publishing of profile information by NativeSpeaker.com.pl and to receiving offer notifications from interested users and visitors by email.</li>
<li>The information contained in the user profile is open and can be accessible by popular search engines.</li>
</ol>

<h2>III. Create an Account</h2>
<ol>
<li>A person can make an account by filling out the registration form.</li>
<li>During the registration process, it is required to create a username and password and enter a valid email address.</li>
<li>NativeSpeaker.com.pl provides its users with personal data protection as stipulated under the Personal Data Protection Act (Dz.U. 2002 Nr 101, poz. 926) and the Electronic Services Act (Dz.U. 2002 Nr.144, poz. 1204).</li>
<li>The creation of an account at NativeSpeaker.com.pl is possible only after the acceptance hereof.</li>
</ol>

<h2>IV. Data Protection & Privacy Policy</h2>
<ol>
1.     Personal data is collected:
<ol type="a">
<ol>during registration (username, password, email address)</ol>
<ol>during a payment transaction (name, address, type and credit card number, CVV code)</ol>
<ol>automatically when you visit the website (IP address, domain name, browser type, operating system type, etc.)</ol>
<ol>during contact with the NativeSpeaker.com.pl website using the contact form (name, email address, etc.).</ol>
</ol>
<li>NativeSpeaker.com.pl takes care to protect the personal data of its users. The registration data is used only for the purpose of providing services and to log into the system and is never shared with third parties. Only the login user name is visible to other users and visitors of the NativeSpeaker.com.pl website. However, password and email address information is confidential. In order to contact a registered user in order to take advantage of his or her offer, the completion of the contact form is required.</li>
<li>In the case of payments to NativeSpeaker.com.pl, the user will be prompted for payment information (Chapter IV, section 1b). This information will be forwarded to a company that supports payment transactions. This information will be used only to complete the transaction and will not be used for any other purpose. Submission of this information is required to make a payment transaction.</li>
<li>Data collected automatically only serve to personalize the content of NativeSpeaker.com.pl.</li>
<li>Information acquired as a result of correspondence is used only to answer a user's query.</li>
<li>Any user information may be disclosed to the appropriate judicial authorities only under the provisions of relevant legislation.</li>
<li>NativeSpeaker.com.pl will contact you by sending information to the specified email address. All inquiries and offers of other users of the site made via the contact form will also be sent to the specified email address. A user's email address is confidential and will not appear on his or her profile.</li>
<li>Users the right to make changes to their personal data, and to remove it.</li>
<li>NativeSpeaker.com.pl reserves the right to change this privacy policy by publishing new rules.</li>
<li>Additional questions regarding this privacy policy should be submitted through the website’s contact form.</li>
<li>NativeSpeaker.com.pl reserves the right to send all users information electronically about any changes made in the service.</li>
</ol>

<h2>V. Use of NativeSpeaker.com.pl</h2>
<ol>
<li>Users and visitors should use the service in accordance with the provisions of these Terms of Use.</li>
<li>It is unacceptable to violate the privacy of other users and/or process their data for purposes other than responding to an offer presented by them.</li>
<li>It is prohibited to post materials that are offensive, violate provisions of the law or moral canons held in Poland.</li>
<li>Users may only post images of a person. Immoral photos of any kind and photos that do not correspond to the professional nature of the website are unacceptable.</li>
<li>It is forbidden to use the website to send advertisements and other offers that are considered to be spam.</li>
</ol>

<h2>VI. Copyrights</h2>
<ol>
<li>A profile on NativeSpeaker.com.pl means that you agree to use the information contained therein by others in order to submit a bid or respond to it.</li>
<li>A user has the right to write information legally considered a work in his or her profile and is protected by copyright law (Dz.U. 1994, Nr 24, poz. 83). This information may only be used for personal use. Any other use of this data requires the consent of the author.</li>
</ol>

<h2>VII. Responsibility</h2>
<ol>
<li>NativeSpeaker.com.pl not responsible for content posted by users in their profiles as well as the text of private messages sent to any user.</li>
<li>People who send messages that violate the law may be held liable under civil and criminal law.</li>
<li>Users are responsible for all content posted by them on NativeSpeaker.com.pl.</li>
<li>NativeSpeaker.com.pl makes no guarantees as to the quality of information offered on this website. The use of the service, and making offers is at the user's own risk.</li>
<li>This site is not responsible for the improper performance of services by an advertiser or for a breach of contract payment by a user or visitor.</li>
<li>NativeSpeaker.com.pl shall not be liable for any damages resulting from failure or interruption in access to the website.</li>
</ol>

<h2>VIII. Comments and conclusions</h2>
<ol>
<li>Any sort of concerns, comments and proposals relating to services provided by NativeSpeaker.com.pl can be sent using the contact form.</li>
<li>NativeSpeaker.com.pl shall attempt to respond to any such request within 14 days.</li>
<li>The website does not respond to complaints regarding services provided by other users advertised on NativeSpeaker.com.pl (Chapter VII, section 4 and 5).</li>
</ol>

<h2>IX. Final Provisions</h2>
<ol>
<li>NativeSpeaker.com.pl reserves the right to change these Terms of Use and undertakes to inform users about these changes.</li>
<li>Users who are directly affected by a given change will be informed about it electronically.</li>
<li>Users are responsible for providing a valid email address. The NativeSpeaker.com.pl service is not liable for failure to supply information resulting from an incorrect or inactive email address.</li>
</ol>
