<h1>Messages waiting for you</h1>

<% @messages.each do |message| %>
<strong>From: </strong> <%= mail_to message.from %><strong> on </strong> <%= message.created_at.in_time_zone("Europe/Warsaw") %><br/> 
<strong>Body: </strong> <%= message.body %><br/><br/>
<% end %><br/>
<% if @messages.empty? %> Enjoy the empty inbox 😇. Soon people will contact you! <% end %>
