<% if @profile.does_online_lessons %> 
  <strong>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Does online lessons
  </strong>
<% else %>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Doesn't do online lessons
<% end %>
<br/>

<% if @profile.works_during_weekend %> 
  <strong>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Works during weekend
  </strong>
<% else %>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Doesn't work during weekend
<% end %>
<br/>

<% if @profile.issues_an_invoice %> 
  <strong>
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    Issues VAT invoices
  </strong>
<% else %>
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Doesn't issue VAT invoices
<% end %>
<br/>
