<table class="table table-hover detailed_profiles">
 <!-- <thead>
    <tr>
      <th>Photo</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Qualifications</th>
      <th>Short descritpion & body</th>
      <th>Location</th>
      <th>Average price</th>
      <th></th>
    </tr>
  </thead> !-->

  <tbody>
    <% profiles.each do |profile| %>
      <tr>
        <td><%= link_to(image_tag(profile.avatar.url(:medium), class: "thumb rounded-and-cropped"), profile) %></td>
        <td><%= flag_tag(profile) %></td>
        <td>
        	<%= link_to profile.name, profile %><br/>
        	<%= render partial: "statistics", locals: {profile: profile} %><br/>
          <%= mail_to profile.user.email %>
        </td>
        <td>
          <%= profile.languages.collect{|language| "#{language.name}" }.join(", ") %>
        </td>
        <td></td>
        <td>
        	<strong>Tagline: <%= profile.short_description %></strong> <br/>
        	<div class="profile_description"><a class="show_profile_description" >Description:</a>
            <div class="profile_description_contents" style="display: none;"><%= simple_format(profile.body) %></div>
          </div>
        </td>
        <td class="align-top"><%= profile.formatted_address%></td>
        <td><%= profile.price%>&nbsp;<%= @current_domain.currency %></td>

        <td><%= link_to 'Show', profile, class: "btn btn-success"%>
        <%= (current_user && policy(profile).edit?) ? link_to('Edit', edit_profile_path(profile), class: "btn btn-warning") : "" %>
        <% (current_user && policy(profile).destroy?) ?  link_to('Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" ): ""%>
        	          <% if policy(profile).approve? %>
            <%= link_to '<button type="button" class="btn btn-success">Approve</button>'.html_safe, approve_profile_path(profile) %>
          <% end %>
          <% if policy(profile).reject? %>
            <%= link_to '<button type="button" class="btn btn-danger">Reject</button>'.html_safe, reject_profile_path(profile) %>
          <% end %>
          <% if policy(profile).upgrade? %>
            <%= link_to '<button type="button" class="btn btn-info">Upgrade 1yr</button>'.html_safe, upgrade_profile_path(profile, Date.today + 12.months) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
