
<%= bootstrap_form_for @profile, html: { multipart: true } do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-sm-4"><%= f.text_field :name %></div>
    <div class="col-sm-8"><%= f.text_area :short_description, label: "Short description (keep it below 180 characters)", placeholder: "Something short and leading about you that will click with your students-to-be", maxlength: "180"%></div>

    <div class="col-sm-4">
    <%= image_tag @profile.avatar.url(:medium), class: "profile-photo img-responsive rounded-and-cropped" %>

    <%= f.file_field :avatar, label: 'Your photo' %>
    </div>
    <div class="col-sm-8"><%= f.text_area :body, placeholder: "Don't leave the contact details here", rows: 14 %></div>





    <span class="clearfix"></span>
    <br/>

    <div class="col-sm-3"><%= f.collection_check_boxes :qualification_ids, Qualification.all, :id, :name, label: 'Qualifications you have'  %>
    </div>
    <div class="col-sm-3"><%= f.collection_check_boxes(:age_group_ids, AgeGroup.all, :id, :name, label: "Age groups you want to teach")  %></div>
    <div class="col-sm-3">
      <%= f.collection_check_boxes :language_ids, Language.all, :id, :name, label: 'Languages you teach'   %></div>
    <div class="col-sm-3">
        <%= f.collection_select :country_id, Country.all, :id, :name, prompt: true, label: 'Country of origin' %>
        <%= f.select(:sex, options_for_select([['male', 1], ['female', 2]], @profile.sex), prompt: false) %>
        <%= f.label :location %>
        <%= text_field_tag :location, "", class: "form-control" %>
        <div class="location_details">
        <%= f.hidden_field :lat, {"data-geo"=>"lat"} %>
        <%= f.hidden_field :lng, {"data-geo"=>"lng"} %>
        <%= f.hidden_field :formatted_address, {"data-geo"=>"formatted_address"} %>
        </div>
        <%= f.check_box :does_online_lessons, label: "I do online lessons" %>
        <%= f.check_box :works_during_weekend, label: "I work during the weekend" %>
        <%= f.check_box :issues_an_invoice, label: "I issue invoices" %>
        <%= f.number_field :price, label: "Price per clock hour #{@current_domain.currency}"%>
    </div>

    <span class="clearfix"></span>

    <h3>Premium fields</h3>
    <% unless @profile.premium?  %>
      These fields are visible in your profile once you upgrade to a paid membership. Membership options are presented on the next screen.<br>
    <% end %>


    <div class="col-sm-4"><%= f.text_field :telephone %></div>
    <div class="col-sm-4"><%= f.text_field :public_email %></div>
    <div class="col-sm-4"><%= f.text_area :contact_details %></div>




    <%= f.submit %>

<% end %>
