<table class="table table-hover table-responsive">
 <!-- <thead>
    <tr>
      <th>Photo</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Qualifications</th>
      <th>Short descritpion</th>
      <th>Location</th>
      <th>Average price</th>
      <th></th>
    </tr>
  </thead> !-->

  <tbody>
    <% profiles.each do |profile| %>
      <tr>
        <td><%= profile.premium? ? link_to(image_tag(profile.avatar.url(:medium), class: "thumb rounded-and-cropped"), profile) : ""%></td>
        <td><%= flag_tag(profile) %></td>
        <td><%= link_to profile.name, profile %></td>
        <td>
          <%= profile.languages.collect{|language| "#{language.name}" }.join(", ") %>
        </td>
        <td><%= profile.short_description%></td>
        <td><%= profile.formatted_address%></td>
        <td><%= profile.price%>&nbsp;<%= @current_domain.currency %></td>

        <td><%= link_to 'Show', profile, class: "btn btn-success"%>
        <%= (current_user && policy(profile).edit?) ? link_to('Edit', edit_profile_path(profile), class: "btn btn-warning") : "" %>
        <% (current_user && policy(profile).destroy?) ?  link_to('Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" ): ""%></td>
      </tr>
    <% end %>
  </tbody>
</table>
