Profile status: <%= profile.status %><br/>
Messages total: <%= profile.messages.count %><br/>
<%= profile.premium? ? 'Premium left for: '+distance_of_time_in_words(Time.now, profile.premium_until) : 'Not premium' %>
