<h1>Pending profiles (<%= @pending.count %>)</h1>
<%= render partial: "detailed_profiles_table", locals: {profiles: @pending} %>

<h1>Premium profiles (<%= @premium.count %>)</h1>
<%= render partial: "detailed_profiles_table", locals: {profiles: @premium} %>

<h1>Plain profiles (<%= @plain.count %>)</h1>
<%= render partial: "detailed_profiles_table", locals: {profiles: @plain} %>

<h1>Rejected profiles (<%= @rejected.count %>)</h1>
<%= render partial: "detailed_profiles_table", locals: {profiles: @rejected} %>
