<script>
function submitform()
{
  document.getElementById("autosubmit").submit();
}
</script>

  <%= render partial: 'payment/payment_form', locals: {
    description: "Featuring #{@current_profile.name}",
    currency: "#{@current_domain.currency}",
    cost: "#{@current_domain.featured_cost}",
    name: @current_profile.name,
    email: current_user.email,
    code: "featured:#{@current_profile.id}"} %>

<script>
submitform();
</script>
