<h1>Listing Profiles</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>Price</th>
      <th>User</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name%></td>
        <td><%= profile.telephone%></td>
        <td><%= profile.price%></td>
        <td><%= profile.user%></td>
        <td><%= profile.formatted_address%></td>

        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Profile', new_profile_path %>
