<% if @location.present? %>
	<% title "Native speakers in #{@location}" %>
	<% description "There are #{@profiles.count} native speakers in #{@location}, including #{@profiles.first(3).map(&:name).join(', ')}. Find a perfect one! " %>
	<h1>Native speakers in <%= @distance %>km range from <%= params['location']%></h1>
	<%= render partial: "profiles_table", locals: {profiles: @profiles} %>
	<% if @profiles.empty? %>
		<div class="center">
		We can't find anything near. Are you sure you've searched correctly?<br>
		Please select a city from the dropdown list just like the screenshot suggests.<br>
			<%= image_tag('city dropdown.png') %>
		</div>
    <% end %>
	<%= will_paginate @posts %>
	<br>
<% else %>
	<% title "All native speakers in Poland" %>
	<h1>All native speakers in Poland</h1>
	<%= render partial: "profiles_table", locals: {profiles: @profiles} %>
	<%= will_paginate @posts %>
<% end %>
