<% title "#{@profile.name} (#{@profile.formatted_address})" %>
<% description @profile.short_description %>
<br/>
  <div class="container">
  	<div class="col-sm-3">
      <%= image_tag @profile.avatar.url(:big), class: "img-responsive img-thumbnail"%>
      <h1 class="text-center">
        <%= flag_tag @profile %> <%= @profile.name %>
      </h1>
      <% if current_user && current_user == @profile.user %>
        <div class="row text-center">
          <%= render partial: "statistics", locals: {profile: @profile} %><br/>
          <% if policy(@profile).approve? %>
            <%= link_to '<button type="button" class="btn btn-success">Approve</button>'.html_safe, approve_profile_path(@profile) %>
          <% end %>
          <% if policy(@profile).reject? %>
            <%= link_to '<button type="button" class="btn btn-danger">Reject</button>'.html_safe, reject_profile_path(@profile) %>
          <% end %>
          <% if policy(@profile).edit? %>
            <%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_profile_path(@profile) %>
          <% end %>
          <% if @current_profile.try(:id) == @profile.id %>
            <a href="/upgrade" class="btn btn-primary"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Upgrade</a>
          <% end %>
          <br/>
          <br/>
        </div>
      <% end %>
      <% if @profile.premium? %>
        <h3>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          Contact details
        </h3>
        <% if @profile.telephone.present? %>
          <strong>Telephone number:</strong><br/>
          <%= @profile.telephone %><br/>
        <% end %>
        <% if @profile.public_email.present? %>
          <strong>E-mail address:</strong><br/>
          <%= @profile.public_email %><br/>
        <% end %>
        <%= @profile.contact_details %><br/>
      <% end %>
      <div id="map" class="map"></div>
      <%= @profile.formatted_address %><br/>
    </div>
  	<div class="col-sm-8">
      <div class="jumbotron"><h3><%= @profile.short_description %></h3></div>
      <div class="row">
        <div class="col-sm-4">
          <h3>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            Qualifications
          </h3>
          <strong>Languages taught:</strong> <%= @profile.languages.collect{|language| "#{language.name}" }.join(", ") %><br/>
          <strong>Qualifications:</strong> <%= @profile.qualifications.collect{|qualification| "#{qualification.name}" }.join(", ") %><br/>
          <strong>Teaching these age groups:</strong> <%= @profile.age_groups.collect{|age_group| "#{age_group.name}" }.join(", ") %><br/>
          <br/><br/>
        </div>
        <div class="col-sm-4">
          <h3>
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
            Starting price
          </h3>
          The starting price <strong>per clock hour</strong> is <%= @profile.price %> <%= @current_domain.currency %>.<br/>
        </div>
        <div class="col-sm-4">
          <h3>
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            This and that
          </h3>
          <%= render "checkboxes" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h3>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Bits about me
          </h3>
          <%= simple_format(@profile.body) %><br/><br/>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-12 row-no-padding">
          <h3>Leave a message for <%= @profile.name %></h3>
            <%= bootstrap_form_for(@message) do |f| %>
              <%= f.email_field :from, required: true %>
              <%= f.hidden_field :to_id, value: @profile.id %>
              <%= f.text_area :body %>
              <%= check_box_tag 'tos', 'accepted', false, required: true %> I accept the <%= link_to 'Terms of Service', '/tos' %> <br />
              <div class="h-captcha" data-sitekey="fae1b3f9-ddb5-4d8d-a7fd-cbe2d0d8cfee"></div>
              <script src="https://hcaptcha.com/1/api.js" async defer></script>
              <%= f.submit "Submit" %>            <% end %>
              </div><span class="clearfix"></span>
        </div>
    </div>



  
    <script type="text/javascript">

var iconFeature = new ol.Feature({
  geometry: new ol.geom.Point(ol.proj.fromLonLat([<%= @profile.lng %>, <%= @profile.lat %>])),
  name: "<%= @profile.name %>"
});

var iconStyle = new ol.style.Style({
  image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
    anchor: [0.5, 0.5],
    anchorXUnits: 'fraction',
    anchorYUnits: 'fraction',
    opacity: 1,
    src: '<%= asset_path("native_icon.png") %>'
  }))
});

iconFeature.setStyle(iconStyle);

var vectorSource = new ol.source.Vector({
  features: [iconFeature]
});

var vectorLayer = new ol.layer.Vector({
  source: vectorSource
});


var map = new ol.Map({
  layers: [new ol.layer.Tile({
            source: new ol.source.OSM()
          }), vectorLayer],
  target: document.getElementById('map'),
  interactions: ol.interaction.defaults({mouseWheelZoom:false}),
  view: new ol.View({
    center: ol.proj.fromLonLat([<%= @profile.lng %>, <%= @profile.lat %>]),
    zoom: 13
  })
});
/* [<%= @profile.lng %>, <%= @profile.lat %>]  */

    </script>
<br/>

</div>
