<h1>Account's settings</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
  <%= f.password_field :current_password, autocomplete: "off" %>
  <%= f.submit "Update" %>
<% end %>
<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
!-->
