<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %>, it's our greatest pleasure to have you onboard 😍</h1>
    <p>
      We just need you to have your e-mail confirmed: <%= @url %>.
    </p>
    <p>Wish you a great day!</p>
  </body>
</html>