<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>email</th>
      <th>Last sign in</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id%></td>
        <td><%= user.email%></td>
        <td><%= user.current_sign_in_at %></td>

        <td><%= link_to 'Show', '#' %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', '#', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New User', new_user_registration_path %>
