- if @current_domain.payment_gateway == 'dotpay'
  %form{:action => "#{ENV['dotpay_url']}", :method => "post", :id => "autosubmit"}
    %input{:name => "id", :type => "hidden", :value => "#{ENV['dotpay_id']}"}/
    %input{:name => "lang", :type => "hidden", :value => "pl"}/
    %input{:name => "opis", :type => "hidden", :value => description}/
    %input{:name => "URL", :type => "hidden", :value => thankyou_url}/
    %input{:name => "type", :type => "hidden", :value => "4"}/
    %input{:name => "waluta", :type => "hidden", :value => currency}/
    %input{:name => "kwota", :type => "hidden", :value => cost}/
    %input{:name => "forename", :type => "hidden", :value => "#{name.split(" ", 2)[0]}"}/
    %input{:name => "surname", :type => "hidden", :value => "#{name.split(" ", 2)[1]}"}/
    %input{:name => "email", :type => "hidden", :value => email}/
    %input{:name => "control", :type => "hidden", :value => code}/
    %input.btn.btn-success.btn-large{:type => "submit", :value => "Pay with DotPay"}/
- elsif @current_domain.payment_gateway == 'paypal'
  %form{:action => "#{ENV['paypal_url']}", :method => "post",  :id => "autosubmit"}
    %input{:name => "cmd", :type => "hidden", :value => "_xclick"}/
    %input{:name => "business", :type => "hidden", :value => "#{ENV['paypal_id']}"}/
    %input{:name => "item_name", :type => "hidden", :value => description}/
    %input{:name => "item_number", :type => "hidden", :value => code}/
    %input{:name => "amount", :type => "hidden", :value => cost}/
    %input{:name => "quantity", :type => "hidden", :value => "1"}/
    %input{:name => "currency_code", :type => "hidden", :value => currency}/
    %input{:name => "return", :type => "hidden", :value => thankyou_url}/
    %input{:name => "notify_url", :type => "hidden", :value => payments_paypal_url}/
    %input.btn.btn-info.btn-large{:type => "submit", :value => "Pay with Paypal"}/
