<% title "Upgrade profile" %>

<div class="jumbotron yellow-jumbotron stand-out-background">
  <div class="container">
    <h1>
    <span><strong>Stand out</strong></span>
    </h1>
  </div>
</div>


<div class="container">

<div class="row">
    <div class="col-sm-2">
        <%= image_tag('me.jpg', class: 'rounded-circle img-responsive thumbnail') %>
    </div>
    <div class="col-sm-10">
        <div class="well well-sm">
            <!-- <p><strong>We receive thousands of hits every day. </strong></p> -->
            To keep this website alive and kicking we need your support. Your payment is going to cover: <ul>
                <li><strong>moderators</strong> - our curators - who read and verify every profile</li>
                <li><strong>accountant</strong> so you can receive a VAT invoice from a legal company</li>
                <li><strong>server</strong> costs and <strong>quick payment providers</strong> fees</li>
                <li><strong>software engineers</strong> who mainain and update the application and make sure it runs smooth</li>
            </ul>
                On this page you can subscribe to various plans to <strong>make your profile stand out</strong> and support <strong>nativespeaker.com.pl</strong>.
        </div>
    </div>
</div>

<% if ENV['payments_enabled'] %>
	<div class="row">
		<div class="col-sm-4">
            <div class="well">
        		<h2 class="muted">Free</h2>
        		<p><span class="label label-warning"></span></p>
                <p>
        		This is a basic plan for your profile. With this option <strong>you have to wait until your profile is manually approved</strong> before it's visible on the website.<br> Your photo isn't shown on the search results and you can't put contact details in you profile. Students can start conversation with you only through the webiste. You have to check the messages manually - you don't get any notifications.</p>
                <a href="<%= profile_path @current_profile %>" class="btn btn-warning">OK, get me to my profile</a>
           	</div>
        </div>
        <div class="col-sm-4">
        	<div class="well">
        		<h2>Premium</h2>
        		<p><span class="label label-success">POPULAR</span></p>
        		<ul>
        			<li>Your profile on homepage</li>
                    <li>Your profile before free profiles in search results</li>
        			<li>Every time you use the website, your profile goes to the top of the list</li>
        			<li>Your photo on homepage and in search results</li>
        			<li>Your phone number and all other contact details shown</li>
        		</ul>
        		<p>You get your profile on a homepage, always accompanied by a photo.
<!--                     and your prospective students wont's see the silly contact form you had to check manually.
 -->                </p>
        		<hr>
        		<h3><%= @current_domain.premium_cost %><%= @current_domain.currency %> / <%= @current_domain.premium_duration %> days</h3>
        		<hr>

<% if @current_profile.premium? %>
  <input type="submit" class="btn btn-success btn-large" value="Upgraded till <%= @current_profile.premium_until %>" disabled/>
<% else %>
<div class="row"><div class="col-md-5">
  <%= render partial: 'payment_form', locals: {
    description: "Premium membership for #{@current_profile.name}",
    currency: "#{@current_domain.currency}",
    cost: "#{@current_domain.premium_cost}",
    name: @current_profile.name,
    email: current_user.email,
    code: "premium:#{@current_profile.id}"} %>  
</div><div class="col-md-7"> 
    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> VAT invoice available<br>
    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> safe, instant payment
</div></div>
<% end %> 

        	</div>
        </div>
        <div class="col-sm-4">
        	<div class="well">
        		<h2>Featured</h2>
        		<p><span class="label label-danger">LIMITED</span></p>
        		<ul>
        			<li>Your photo and description in featured ones list on a homepage</li>
        			<li>Only 3 users like this on the website</li>
        			<li>Great if you are doing Skype lessons</li>
        		</ul>
        		<p>This puts your profile being featured on a homepage with a big photo. Never ever more than 3 places available.</p>
        		<hr>
        		<h3><%= @current_domain.featured_cost %><%= @current_domain.currency %> / <%= @current_domain.featured_duration %> days</h3>
        		<hr>
                <% if policy(@current_profile).feature? %>
                <div class="row"><div class="col-md-4">
                  <p><a class="btn btn-danger btn-large" href="<%= new_featured_advert_profiles_path %>"><i class="icon-ok"></i>Feature me</a></p>
                </div><div class="col-md-8"> 
                    <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> VAT invoice available<br>
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> safe, instant payment
                </div></div>
              <% else %>
              <p><a class="btn btn-danger btn-large" ><i class="icon-ok"></i>All spots taken, sorry.</a></p>
              <% end %>
        	</div>
        </div>
	</div>
<% else %> 
    <h2>Payments are currently disabled 😞 </h2>
<% end %>

</div>
