= bootstrap_form_for @advertisement, html: { multipart: true } do |f|
  - if @advertisement.errors.any?
    #error_explanation
      %h2
        = pluralize(@advertisement.errors.count, "error")
        prohibited this advertisement from being saved:
      %ul
        - @advertisement.errors.full_messages.each do |message|
          %li= message
  .col-sm-4
    = image_tag @advertisement.picture.url(:medium), class: "advertisement-photo img-responsive img-rounded"
    = f.file_field :picture, label: 'Your photo'
    = f.label :location
    = text_field_tag :location, "", class: "form-control"
    .location_details
      = f.hidden_field :lat, {"data-geo"=>"lat"}
      = f.hidden_field :lng, {"data-geo"=>"lng"}
      = f.hidden_field :formatted_address, {"data-geo"=>"formatted_address"}
    = f.number_field :salary, label: "Price per clock hour #{@current_domain.currency}"
    = f.text_field :email
  .col-sm-4
    = f.text_field :header
    = f.text_field :this_and_that
    = f.text_field :qualifications
  .col-sm-8
    = f.label :body
    .div#advertisement_body_editor
    = f.hidden_field :body, rows: 14
    = f.submit
  %span.clearfix
  %br/

:javascript
    pell.init({
    element: document.getElementById('advertisement_body_editor'),
    onChange: html => {
      document.getElementById('advertisement_body').value = html
    },
    defaultParagraphSeparator: 'div',
    styleWithCSS: false,
    actions: [
      'bold',
      'heading1',
      'heading2'
    ]
   })
