- title 'Jobs for native speakers'
%h1 Jobs for native speakers
%table.table.table-hover
  %thead
    %tr
      %th Picture
      %th Header
      %th Address
      - if policy(Advertisement).update?
        %th{:colspan => "3"}
  %tbody
    - @advertisements.each do |advertisement|
      %tr
        %td
          = link_to(image_tag(advertisement.picture.url(:medium), width: '300px', class: 'img-responsive'), advertisement_path(advertisement))
        %td= advertisement.header
        %td= advertisement.formatted_address
        - if policy(Advertisement).update?
          %td= link_to 'Show', advertisement
          %td= link_to 'Edit', edit_advertisement_path(advertisement)
          %td= link_to 'Destroy', advertisement, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'Add your advertisement!', new_advertisement_path, class: 'btn btn-primary'
