- title "Pay for advertisement"
.jumbotron.yellow-jumbotron
  .container
    %h1
      %span
        %strong Find native speakers for your company immediately.
%p
%h2 Your advertisement is saved and ready for payment.
%h2 When a native speaker looks for a job, he's bound to do it through our website.
%h3 It's possible to get an invoice.
%br
.container
  - if ENV['payments_enabled']
    .row
      .col-sm-4
        .well
          %h2
            Listing job advertisement for
            = @current_domain.advertisement_duration/2
            days
          %p
          %p
            You get a job advertisement on 
            = @current_domain.name
          %hr/
          %h3
            = @current_domain.advertisement_cost/2
            = @current_domain.currency
            = render partial: 'payment/payment_form', locals: {               |
              description: "Premium advert #{@advertisement.id }",    |
              currency: @current_domain.currency,                             |
              cost: @current_domain.advertisement_cost/2,                  |
              name: @advertisement.header,                                    |
              email: @advertisement.email,                                      |
              code: "advertisement:#{@advertisement.id}"}                         |
      .col-sm-4
        .well
          %h2
            Listing job advertisement for
            = @current_domain.advertisement_duration
            days
          %p
            %span.label.label-success POPULAR
          %p
            You get a job advertisement on 
            = @current_domain.name
          %hr/
          %h3
            = @current_domain.advertisement_cost
            = @current_domain.currency
            = render partial: 'payment/payment_form', locals: {               |
              description: "Premium advert #{@advertisement.id }",    |
              currency: @current_domain.currency,                             |
              cost: @current_domain.advertisement_cost,                  |
              name: @advertisement.header,                                    |
              email: @advertisement.email,                                      |
              code: "advertisement:#{@advertisement.id}"}                         |
      .col-sm-4
        .well
          %h2
            Listing job advertisement for
            = @current_domain.advertisement_duration*2
            days
          %p
          %p
            You get a job advertisement on 
            = @current_domain.name
          %hr/
          %h3
            = @current_domain.advertisement_cost*2
            = @current_domain.currency
            = render partial: 'payment/payment_form', locals: {               |
              description: "Premium advert #{@advertisement.id }",    |
              currency: @current_domain.currency,                             |
              cost: @current_domain.advertisement_cost*2,                  |
              name: @advertisement.header,                                    |
              email: @advertisement.email,                                      |
              code: "advertisement:#{@advertisement.id}"}                         |
  - else
    %h2 Payments are currently disabled 😞
