- title "#{@advertisement.header} (#{@advertisement.formatted_address})"
- description @advertisement.header
%br/
.container
  .col-sm-3
    %h1.text-center
      = @advertisement.header
    #map.map
    = @advertisement.formatted_address
    %br/
  .col-sm-8
    = image_tag @advertisement.picture.url(:large), class: "img-responsive img-thumbnail"
    .row
      .col-sm-4
        %h3
          %span.glyphicon.glyphicon-pencil{"aria-hidden" => "true"}
          Qualifications
        = simple_format(@advertisement.qualifications)
      .col-sm-4
        %h3
          %span.glyphicon.glyphicon-piggy-bank{"aria-hidden" => "true"}
          Salary
        %strong per clock hour
        is #{@advertisement.salary} #{@current_domain.currency}.
        %br/
      .col-sm-4
        %h3
          %span.glyphicon.glyphicon-asterisk{"aria-hidden" => "true"}
          This and that
        = simple_format(@advertisement.this_and_that)
    .row
      .col-sm-12
        %h3
          %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
          Bits about the job
        = simple_format(@advertisement.body)
        %br/
        %br/
      %span.clearfix
  :javascript
    var iconFeature = new ol.Feature({
      geometry: new ol.geom.Point(ol.proj.fromLonLat([#{@advertisement.lng}, #{@advertisement.lat}])),
      name: "#{@advertisement.header}"
    });
    
    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
        anchor: [0.5, 0.5],
        anchorXUnits: 'fraction',
        anchorYUnits: 'fraction',
        opacity: 1,
        src: '#{asset_path("native_icon.png")}'
      }))
    });
    
    iconFeature.setStyle(iconStyle);
    
    var vectorSource = new ol.source.Vector({
      features: [iconFeature]
    });
    
    var vectorLayer = new ol.layer.Vector({
      source: vectorSource
    });
    
    
    var map = new ol.Map({
      layers: [new ol.layer.Tile({
                source: new ol.source.OSM()
              }), vectorLayer],
      target: document.getElementById('map'),
      interactions: ol.interaction.defaults({mouseWheelZoom:false}),
      view: new ol.View({
        center: ol.proj.fromLonLat([#{@advertisement.lng}, #{@advertisement.lat}]),
        zoom: 13
      })
    });
    /* [#{@advertisement.lng}, #{@advertisement.lat}]  */
  %br/
