<h1>Everything's fine, <%= @profile.name %> 👌</h1>
<p>
  We have approved your profile. It's now visible throughout our website. 
</p>
<p>
  Please keep in mind that any profile changes will require
  the profile to be reconsidered upon approval.
</p>
<p><%= link_to 'See it live!', profile_url(@profile) %></p>
