<h1>Thank you for supporting us, <%= @profile.name %>!</h1>
<p>
	We've received your money and your profile got upgraded.
</p>
<p>
	Have you got any questions, feel free to drop us a line at
	nativespeaker.com.pl@gmail.com
</p>
<p>
	Love
</p>
