<h1>We rejected your profile, <%= @profile.name %> 😭</h1>
<p>
  Everything's not lost! Please edit you profile accodingly to the criteria,
  for example make sure it doesn't include contact details in description field.
</p>
<p>
  When you save your edited profile, we will decide on your profile status once again.
</p>
<p><%= link_to 'Edit your profile', edit_profile_url(@profile) %></p>
