<% if @profile.premium? %>
  <h1>Hi <%= @profile.name %>, there are some messages waiting for you!</h1>
  <p>
    You have <%= @profile.waiting_messages %> unread message(s) received at your NativeSpeaker account over the past few days.
    You're a <strong>premium member</strong>, so your direct contact details are shown on the website. Somebody, however, decided
    to leave you a message using the internal messaging system.
  </p>
  <p>Please log in <%= link_to 'to read it', root_url(host: @profile.domain.url) %>. </p>
  <p>PS: every time you log in, your proifle moves to the top of the list.</p>
<% else %>
  <h1><%= @profile.name %>, why don't you read love letters our users send you? 💌</h1>
  <p>
    Please note: <%= @profile.waiting_messages %> unread message(s) received at your NativeSpeaker account over the past few days. You should log in regularly to read the messages or upgrade to Premium to show your email address to your prospective students’ emails so they can reach out to you directly.
  </p>
  <p>
    These reminders are only sent occasionally.
  </p>
  <p><%= link_to 'Check your messages here', root_url(host: @profile.domain.url) %></p>
<% end %>