<h1><%= @profile.name %>'s opinion wanted!</h1>
<p>
  We'll pay you in NativeSpeaker gold ;) Speak your mind in
  <%= link_to 'this 40ish seconds survey', 'https://nativespeaker1.typeform.com/to/eIfEhw' %>
	:)
</p>
