<h1><%= @profile.name %> is waiting for 👌 (approval)</h1>
<p>
	<strong>Tagline of the profile</strong>:<br/>
	<%= @profile.short_description %> 
</p>
<p>
	<strong>Body:</strong><br/>
	<%= @profile.body %> 
</p>
<p>
	<strong>Photo:</strong><br/>
    <%= image_tag @profile.avatar.url(:big), class: "img-responsive img-thumbnail"%>
</p>

<h3>
<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
Qualifications
</h3>
<strong>Languages taught:</strong> <%= @profile.languages.collect{|language| "#{language.name}" }.join(", ") %><br/>
<strong>Qualifications:</strong> <%= @profile.qualifications.collect{|qualification| "#{qualification.name}" }.join(", ") %><br/>
<strong>Teaching these age groups:</strong> <%= @profile.age_groups.collect{|age_group| "#{age_group.name}" }.join(", ") %><br/>

<p>
In order to use the buttons below, log in on the website first.
</p>
<%= link_to '<button type="button" class="btn btn-success">Approve</button>'.html_safe, approve_profile_url(@profile) %>
<%= link_to '<button type="button" class="btn btn-danger">Reject</button>'.html_safe, reject_profile_url(@profile) %>
<%= link_to '<button type="button" class="btn btn-warning">Edit</button>'.html_safe, edit_profile_url(@profile) %>
