

<h1>Listing Domains</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Url</th>
      <th>Name</th>
      <th>Header</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.code %></td>
        <td><%= domain.url %></td>
        <td><%= domain.name %></td>
        <td><%= domain.header %></td>

        <td><%= link_to 'Show', domain %></td>
        <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path %>
