<p>
  <strong>Code:</strong>
  <%= @domain.code %>
</p>

<p>
  <strong>Url:</strong>
  <%= @domain.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
