<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <%= f.email_field :email, autofocus: true %>
  <%= f.password_field :password, autocomplete: "off" %>


    <%= f.submit "Log in" %>
<% end %>

<%= render "devise/shared/links" %>
