@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.jumbotron {
  h1 {
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }

  h2 {
    letter-spacing: -1px;
    margin-bottom: 30px;
    font-weight: normal;
    color: #777;
  }
  
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.footer{
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.yellow-jumbotron {
  background: no-repeat center center;
  background-size: cover;
  text-align: center;

  h1 {
    span {
      background-color: yellow;
      color: black;
    }
  }

}

span.yellow {
  background-color: yellow;
  color: black;
}

.city1 {
  background-image: url("https://images.pexels.com/photos/450597/pexels-photo-450597.jpeg?dl&fit=crop&crop=entropy&w=1280&h=904")
}
.city2 {
  background-image: url("https://images.pexels.com/photos/262413/pexels-photo-262413.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
}
.city3 {
  background-image: url("https://images.pexels.com/photos/313782/pexels-photo-313782.jpeg?dl&fit=crop&crop=entropy&w=1280&h=832")
}
.city4 {
  background-image: url("https://images.pexels.com/photos/10676/Warsaw-center-free-license-CC0.jpg?w=1260&h=750&auto=compress&cs=tinysrgb")
}
.city5 {
  background-image: url("https://images.pexels.com/photos/258846/pexels-photo-258846.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
}
.join-us-background {
  background-image: url("https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?dl&fit=crop&crop=entropy&w=1280&h=853")
}


.thumb {
    width: 100px;
    height: 100px;
}

.bigger-thumb {
    width: 200px;
    height: 200px;
}

.rounded-and-cropped {
    object-fit: cover;
    border-radius: 50%;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

a.no-decoration {
  color: inherit;
  text-decoration: inherit;
}