// Place all the styles related to the Payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stand-out-background {
  background-image: url("https://images.pexels.com/photos/1089563/pexels-photo-1089563.jpeg?dl&fit=crop&crop=10x10&w=1920&h=1308");
  background-position: 10px -220px;
}	