// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 200px;
}

table.detailed_profiles tbody tr td {
  vertical-align: top;
}
