<h1>Hi <%= @user.email.split('@')[0] %> 😍</h1>
<p>
  We're excited here at NativeSpeaker.com.pl for you joining us. <%= link_to 'Confirm your account here.', confirmation_url(@resource, confirmation_token: @token) %>
</p>
<p>Wish you a great day!</p>
