<h1>Nice seeing you <%= @user.email.split('@')[0] %> 😍</h1>
<p>
  We've heard you're moving. <%= link_to 'Click here to confirm your new e-mail address.', confirmation_url(@resource, confirmation_token: @token) %>
</p>