<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>



<h1>IT'S DANGEROUS <%= @user.email.split('@')[0] %> ☠</h1>
<p>
Somebody has been trying to bruteforce your account. We've temporarily locket it for your security. <%= link_to 'Click here to unlock it.', unlock_url(@resource, unlock_token: @token) %>
</p>