<script>
<% flash.each do |type, message| %>
$.notify({message: '<%= message %>' },{	type: '<%= bootstrap_class_for(type) %>', animate: {
		enter: 'animated fadeInDown',
		exit: 'animated fadeOutUp'
	}, placement: {	from: "top",	align: "center"}});
<% end %>
</script>
