<header class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button aria-controls='navbar' aria-expanded='false' class='navbar-toggle collapsed' data-target='#navbar' data-toggle='collapse' type='button'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to(project_name,  "/", class: "navbar-brand") %>
    </div>
    <div class='navbar-collapse collapse' id='navbar'>

      <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><%= link_to 'Jobs', advertisements_path %></li>
              <li><a href="/tos">TOS</a></li>
              <li><a href="/cookie-policy">Cookies</a></li>
              <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>!-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user.nil? %>
                <%= form_for(@user ||= User.new, url: session_path(:user), html: {class: "navbar-form navbar-right"}) do |f| %>
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'E-mail'  %>
                  </div>

                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'Password'  %>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-success" %>
                  </div>
                  <%= link_to("Sign up", new_user_registration_path, class: "btn btn-danger") %>
                <% end %>

              <% else %>

              <%if @current_profile.nil? %>
              <li><%=link_to "Create profile", new_profile_path %></li>
              <% else %>
              <% badges = ''
                 badges << '<span class="label label-success">premium</span> ' if @current_profile.premium?
                 badges << '<span class="label label-warning">fetured</span>' if @current_profile.featured?
              %>
              <li><%=link_to ('My profile '+badges).html_safe, @current_profile %></a></li>
              <li><%=link_to "My messages", messages_path %></a></li>
              <% end %>
              <li><%=link_to current_user.email, edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete  %></li>
            </ul>
            <% end %>
    </div>
  </div>
</header>
