<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>"/>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="//maps.googleapis.com/maps/api/js?key=<%=ENV['google_api_key']%>&amp;libraries=places"></script>
    <%= stylesheet_link_tag "ol" %>
    <%= javascript_include_tag "ol" %>
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/pell/1.0.4/pell.min.css" integrity="sha256-Ld2o3+6zr33AQFbMa5nmnjrvJ+OgdEqYa72WW3LJcto=" rel="stylesheet">/</link>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    <script crossorigin="anonymous" integrity="sha256-uGxhgnjkTXSEUIUythHJUF0moiiFbSEWLyS7iA8Yv+E=" src="https://cdnjs.cloudflare.com/ajax/libs/pell/1.0.4/pell.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7078594687611325",
        enable_page_level_ads: true
      });
    </script>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <script>
    window.fcWidget.init({
      token: "33a0ce77-afc0-4dce-8b46-8dad09d0fd3a",
      host: "https://wchat.freshchat.com"
    });
  </script>
  <body>
    <%= render 'layouts/header' %>
    <%= render partial: "layouts/flash_messages", flash: flash %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-103103139-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 776116442 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-776116442"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-776116442');
    </script>

  </body>
</html>
